header {
    font-family:'Roboto Light', sans-serif;
    background-color: #2a2a2a;
    width:100%;
    height:125px;
}

#main-header{
    max-width:1435px;
    margin:0 auto;
}

#main-headr__logo {
    float:left;
    width:342px;
    min-width:342px;
    height:180px;
    background: url(../img/logo-main.png) no-repeat center;
}

.tablet_menu{
    display: none;
    background: url(../img/nav_icon.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: auto;
    background-color: #e8ebef;
}

.tablet_menu::before{
    content: "";
    width: 10px;
}

.mobile_menu{
    display: none;
    width: 30px;
    height: 30px;
    margin: 15px 20px 0px 0px;
    float: right;

    background: url(../img/nav_icon.png) no-repeat center;
}

#main-header__middle-wrapper{
    float:left;
    max-width:685px;
    width:100%;
    margin-left:55px;
}

#main-header__middle-wrapper_top,
#main-header__middle-wrapper_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header__middle-wrapper_top{
    padding:25px 0 0 0;
}

#main-header__middle-wrapper_bottom {
    padding: 23px 0 0 0;
}

#search_box {
    height: 30px;
    background: #e8ebef;
    background-image: url(../img/searchicon.png);
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 245px;
    z-index: 1;
}

#search_box::-webkit-input-placeholder { 
    color: #000;
    padding-left: 10px;
}

#main-headr__user-actions {
    float: right;
    padding: 25px 0 0 0;
    width: 185px;
    min-width:165px;
}
.main-headr__user-actions_phone{
    padding: 52px 0 0 0;
    font-size: 19px;
    letter-spacing: 1px;
    text-align: justify;
    width: 100%;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    /*display:inline-block;*/
    float:left;
}

nav ul li a {
    color:#fff;
    text-decoration:none;
    font-size: 12px;
    letter-spacing: 0px;
}

#header__about-nav ul li a {
    color: #9ba3aa;
}

#header__about-nav ul li a:hover {
    color: #ed1c24;
}

#header__categories-nav ul li a:hover {
    padding-bottom: 25px;
    border-bottom: 4px solid #ed1c24;
}

.main-headr__user-actions_phone {
    color: #e8ebef;
}

#main-headr__user-actions_favorites {
    float: right;
    width: 24px;
    height: 22px;
    background: url(../img/heart.png) no-repeat center;
}

#main-headr__user-actions_favorites:hover {
    background: url(../img/heart-hover.png) no-repeat center;
}

#header__categories-nav,
#header__about-nav,
#main-headr__user-actions_enter{
    width:100%;
}

#header__about-nav{
    max-width: 310px;
    padding-right: 40px;
}

#header__categories-nav ul,
#header__about-nav ul{
    justify-content: space-between;
    display: flex;
}

#main-headr__user-actions nav{
    line-height: 20px;
}

#main-headr__user-actions nav ul li:first-child{
    border-right: 1px solid white;
    margin-right: 10px;
    padding-right: 10px; 
}

/*----------------------- Media ------------*/

@media screen and (max-width: 1475px){
    #main-headr__user-actions {
        padding-right: 10px;
        min-width: 185px;
    }
}



@media screen and (max-width: 1338px){
    #main-header__middle-wrapper{
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
    }

    #main-header{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1120px)
              and (min-width: 950px){
    #main-headr__logo {
        width:171px;
        min-width:171px;
        height:90px;
        background: url(../img/logo-main_tablet.png) no-repeat center;
    }

    header{
        height: 60px;
    }

    #main-headr__user-actions{
        padding: 20px 10px 0 15px;
        width: 165px;
    }

    .main-headr__user-actions_phone{
        display: none;
    }

    #main-header__middle-wrapper_top,
    #main-header__middle-wrapper_bottom {
    padding: 15px 0 0 0;
    }

    #main-header__middle-wrapper_bottom{
    display: none;
    float: right;
    width: 135px;
    margin-right: 150px;
    }

    #header__categories-nav ul li{
        padding-left: 10px;
        border-left: 4px solid transparent;
    }

    #header__categories-nav ul li:hover{
        border-left: 4px solid #ed1c24;
    }

    #header__categories-nav ul li a:hover {
    border-bottom: none;
}

    #header__about-nav{
        padding-right: 10px;
    }

    .tablet_menu{
        display: flex;
        min-width: 30px;
    }

    #header__categories-nav ul{
        flex-direction: column;
        position: absolute;
        width: 135px;
        background-color: #2a2a2a;
    }
}

@media screen and (max-width: 950px){
    #main-headr__logo {
        width:114px;
        min-width:114px;
        height:60px;
        background: url(../img/logo-main_mobile.png) no-repeat center;
    }

    header{
        height: 60px;
    }

    #main-header__middle-wrapper,
    #main-headr__user-actions{
        display: none;
        margin-left: auto;
        background-color: #2a2a2a;
    }

    #main-header__middle-wrapper_top{
        flex-direction: column-reverse;
    }

    .display_flex{
        display: flex !important;
    }

    .mobile_menu{
        display: block;
        background-color: #e8ebef;
    }

    #main-header {
        flex-direction: column;
        position: relative;
    }

    #main-header__middle-wrapper {
        width: 300px;
        height: 195px;
        position: relative;
        z-index: 1;
        padding-top: 10px;
    }

    #main-header__middle-wrapper_top{
        padding: 0px;
    }

    #header__about-nav{
        padding: 0px;
        width: 100px;
        margin-right: auto;
        margin-bottom: auto;
        padding-top: 5px;
    }

    #header__about-nav ul,
    #header__categories-nav ul{
        flex-direction: column;
    }

    #search_box{
        max-width: 300px;
    }

    #main-header__middle-wrapper_bottom{
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 45px;
        margin-left: 120px;
    }

    #main-header__middle-wrapper_top{
        width: 100%;
    }

    #main-headr__user-actions{
        position: relative;
        top: -155px;
        left: 0;
        padding-top: 30px;
        z-index: 1;
        margin-left: auto;
        padding: 0px;
        width: 120px;
        min-width: 0px;
        flex-direction: column;
        padding-right: 5px;
    }

    #main-headr__user-actions nav ul li:first-child {
        border-right: 1px solid white;
        margin-right: 5px;
        padding-right: 5px;
    }

    .main-headr__user-actions_phone{
        padding: 0px;
        font-size: 11px;
        margin-top: 5px;
    }

    #main-headr__user-actions_favorites{
        top: 45px;
        left: 0;
        position: absolute;
        margin-left: 90px;
    }

    #header__categories-nav ul li a{
        padding-left: 5px;
        border-left: 4px solid transparent;
    }

    #header__categories-nav ul li a:hover {
        padding-bottom: 0px;
        border-left: 4px solid #ed1c24;
        border-bottom: 0px solid transparent;
    }
}