.product-item a,
.first-outlet a,
.categories__grid div a,
.about__item a{
    display: inline-block;
    line-height: 0px;
    text-decoration: none;
}

h2 {
    font-family: 'Georgia';
    font-weight: normal;
    text-align: center;
    color: #3e4546;
    font-size: 24pt;
    letter-spacing: 2pt;
    margin-top: 80px;
    margin-bottom: 30px;
}

.categories h2{
    margin-top: 65px;
    margin-bottom: 50px;
}

.about h2{
    margin-top: 75px;
    margin-bottom: 50px;
}

.feedback h2{
    margin-top: 100px;
    margin-bottom: 50px;
}

.contacts h2{
    margin-bottom: 55px;
}

    h2:first-letter,
    h4:first-letter {
        font-size: 150%;
    }

    h2:after {
        border-bottom: 2px solid #f00;
        content: '';
        display: block;
        margin: 8pt auto 0pt auto;
        width: 104px;
    }

h3,h4,h5,h6 {
    text-transform: uppercase;
}

h4{
    font-family: 'Georgia';
    font-weight: normal;
    color: #3e4546;
    font-size: 15pt;
    letter-spacing: 2px;

}

h6, h5{
    font: 12pt 'Roboto Light', sans-serif;
    color: #3e4546;
    letter-spacing: 1px;
}

h5{
    font-size: 15pt;
}

h5::after{
    content: "UAH";
    font-size: 12pt;
}

h6{
    margin-bottom: 12pt;
}

/*End Global Elements*/

.product-item__main-content{
    display: block;
}

.product-item__main-content_heart,
.product-item__main-content_info {
    cursor: pointer;
    position: absolute;
    z-index: 20;
    top: 15px;
    left: 300px;
}

.product-item__main-content_info {
    top: 50px;
    left: 301px;
    z-index: 2;
}

    .product-item__main-content_info .info_img {
        background: url(../../public/img/info.png) no-repeat center;
        display: block;
        width: 22px;
        height: 22px;
    }

        .product-item__main-content_info .info_img:hover {
            background: url(../../public/img/info-2.png) no-repeat center;
        }


.product-item__main-content_heart .heart {
    background: url(../../public/img/heart.png) no-repeat center;
    display: block;
    width: 24px;
    height: 22px;
}

    .product-item__main-content_heart .heart:hover,
    .heart .selected{
        background: url(../../public/img/heart-hover.png) no-repeat center;
    }

.new-products {
    margin-top: 55px;
}

.product-item {
    position: relative;
    max-width: 340px;
    width: 100%;
    height: 345px;
    margin: 0px auto;
}

.product-item hr{
    border: 1px solid #e8ebef;
    margin: 18px 0 9px 0;
}

.product-item_container{
    outline: none;
}

.product-item__description{
    display: none;
    background: #f7f8f8;
    height: 100%;
    padding: 10px;
}

.product-item__description h4{
    word-wrap: break-word;
}

.product-item__main-content_close_info{
    float: right;
}

.product-item__main-content_close_info img{
    border: 1px solid transparent;
    padding: 3px 2px 3px 2px;
}

.product-item__main-content_close_info img:hover{
    border: 1px solid #595657;
    cursor: pointer;
}

.new-products__carousel{
    width: 100%;
    max-width: 1463px;
    margin: 0px auto;
    margin-bottom: 140px;
}

.slick-dots li button:before {
 content:"";
}
.slick-dots li button {
    width: 12px;
    height: 12px;
    margin: auto;
 background:#898f90;
}
li.slick-active button {
 background:#3e4546;
}
.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: auto;
    margin-top: 55px;
    list-style: none;
    text-align: center;
    bottom: inherit;
    }

/*End Product Caurusel*/

.first-outlet {
    max-width: 1600px;
    margin: 0px auto;
    width: 100%;
}

.first-outlet a{
    position: relative;
}

.first-outlet a img {
    width: 100%;
}

.first-outlet a:hover::after {
    position: absolute;
    border: 2px solid #fff;
    left: 6.875%;
    right: 6.875%;
    top: 5%;
    bottom: 5%;
    content: "";
}

/*End first Outlet*/
.categories__grid div{   
    position:relative;
}

.categories__grid div h3{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28pt;
    color: white;
    white-space: nowrap;
    font-weight: lighter;
}

.categories__grid div a{
    position: relative;
}

.categories__grid div:hover>a::after{
    position: absolute;
    border: 2px solid #fff;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    content: "";
}

.categories__grid{
    max-width: 1435px;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 335px 335px 335px 335px;
    grid-template-rows: 365px 365px 365px;
    grid-template-areas: 'soft soft bedroom living'
    'dining kitchen kitchen accessories'
    'chandeliers chandeliers sanitary sanitary';
}

.categories__soft{grid-area: soft;}
.categories__bedroom{grid-area: bedroom;}
.categories__living{grid-area: living;}
.categories__dining{grid-area: dining;}
.categories__kitchen{grid-area: kitchen;}
.categories__accessories{grid-area: accessories;}
.categories__chandeliers{grid-area: chandeliers;}
.categories__sanitary{grid-area: sanitary;}

/*End Categories*/

.about{
    width: 100%;
    max-width: 1435px;
    margin:0 auto;
}

.about__item{
    width: 50%;
    max-width: 700px;
    position: relative;
    border: 1px solid #9ba3aa;
    margin-left: 5px;
}

.about__item:nth-child(1){
    margin-left: 0px;
    margin-right: 5px;
}

.about__item a{
    overflow: hidden;
    width: 100%;
}

.grow { transition: all .2s ease-in-out; }

.about__item a:hover >.grow::after{
    position: absolute;
    border: 2px solid #fff;
    left: 6.5%;
    right: 6.5%;
    top: 8%;
    bottom: 8%;
    content: "";
}

.about__item a:hover>.grow{
    transform: scale(1.1);
}

.about__content{
    display: flex;
    justify-content: space-between;
}


about__item_img div{
    background-color: white;
    color: black;
    outline: 2px solid black;
}

.about > div > article:nth-child(2) > a:nth-child(1) div div{
    background-color: black;
    color: white;
    outline: 2px solid white;
}

.about__item_img{
    position:relative;
}

.about__item_img img{
    width: 100%;
}

.about__item_img span{
    font-family:'Roboto Slab Light', sans-serif;
    font-size: 40pt;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}

.about__item_text{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28pt;
    outline: 2px solid black;
    outline-offset: -15px;
}

.about__item p{
    font-family: "Roboto Light", sans-serif;
    font-size: 15pt;
    color: #3e4546;
    height: 15pt;
    width: 520px;
    margin: 0px auto;
}

.fulljustify {
    text-align:justify;
}

.fulljustify:after {
    content: "";
    display: inline-block;
    width: 100%;    
}

.about__item > p:nth-child(2){
    margin-top: 30px;
}

.about__item_all{
    font-family: "Roboto Light", sans-serif;
    font-size: 15pt;
    color: #9ba3aa;
    text-decoration: none;
    width: 25%;
    padding: 30px;
    margin: 60px auto 60px auto;
    border: 2px solid #9ba3aa;
    text-align: center;
}

.about__item_all:hover{
    color: white;
    background-color: #9ba3aa;
}

/*End About*/

.contacts__cities{
    font-family: "Roboto Light", sans-serif;
    color: #3e4546;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1435px;
    justify-content: space-around;
    margin: 0px auto 30px auto;
}

.contacts__cities p{
    margin: 30px 0px;
}

.contacts__cities div p:nth-child(2){
    margin-top: 85px;
}

.contacts__cities div h4::first-letter{
    font-size: 100%;
}

.contacts__cities div h4{
    font-size: 175%;
}


.contacts__cities_kyiv:nth-child(2) > h4{
    color: white;
}

/*End Contacts*/

.map{
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
}
.map img{
    width: 100%;
    max-width: 1600px;
}

/*End Map*/

.feedback{
    margin: 0px auto 95px auto;
    width: 100%;
    max-width: 700px;
}

.feedback form{
    font-family: "Roboto Light", sans-serif;
    font-size: 15pt;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form .neat-input{
    flex: 1 0 45%;
    border: 1px solid #2a2a2a;
    height: 60px;
    margin-bottom: 5px;
}

form .neat-input:first-child{
    margin-right: 8px;
}

form .neat-textarea{
    flex: 0 1 100%;
    width: 100%;
    border: 1px solid #2a2a2a;
    resize: none;
    height: 100px;
    text-align: center;
    text-align-last: center;
    line-height: 15pt;
}

form .neat-textarea::-webkit-input-placeholder{
    line-height: 75pt;
}
form .neat-textarea:-moz-placeholder{
    line-height: 75pt;
}
form .neat-textarea::-moz-placeholder{
    line-height: 75pt;
}
form .neat-textarea:-ms-input-placeholder{
    line-height: 75pt;
}

form .neat-textarea:focus{
  line-height: 15pt;
}

form .neat-button{
    margin: 0px auto;
    height: 60px;
    width: 50%;
    max-width: 310px;
    margin-top: 28px;
    background-color: white;
    border: 1px solid #2a2a2a;
}

form .neat-button:hover{
    background-color: #2a2a2a;
    color: white;
}

.neat-input, .neat-textarea, .neat-button{
    font-family: "Roboto Light", sans-serif;
    font-size: 15pt;
}

.neat-input::-webkit-input-placeholder {
   text-align: center;
}

.neat-input:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.neat-input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.neat-input:-ms-input-placeholder {  
   text-align: center; 
}

/*End Feedback*/



/*----------------------- Media ------------*/

@media screen and (max-width: 1455px){
    .categories__grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .categories__grid div a img{
        width: 100%;
        height: auto;
    }


}

@media screen and (max-width: 1370px){
    .categories__grid div h3{
        font-size: 20pt;
    }

    .categories__grid div:hover>a::after {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    }

    .about__item_img span{
        font-size: 30pt;
    }
}

@media screen and (max-width: 1100px){
    .about__item p{
        font-size: 14pt;
        width: auto;
        margin: 0px 5px;
    }

    .about__item > p:nth-child(2){
            margin-top: 10px;
    }
}

@media screen and (max-width: 1024px){
    .new-products__carousel {
        margin-bottom: 80px;
    }

    .slick-dots {
        margin-top: 30px;
    }

    .categories__grid div h3{
        font-size: 16pt;
    }

    .about__item p{
        font-size: 13pt;
    }
}

@media screen and (max-width: 950px){
    .categories__grid div h3{
        font-size: 14pt;
    }


    .contacts h2 {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .contacts__cities div p:nth-child(2) {
        margin-top: 25px;
    }

    .contacts__cities p,
    .contacts__cities div h4{
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts__cities div h4 {
        font-size: 150%;
    }

    .contacts__cities_kyiv,
    .contacts__cities_kharkiv,
    .contacts__cities_dnepr{
        min-width: 25%;
    }

    .about__item_img span{
        font-size: 20pt;
    }

    .about__item p{
        font-size: 10pt;
    }

    .about__item_all{
        font-size: 11pt;
        margin: 30px auto 30px auto;
        padding: 20px;
    }
}

@media screen and (max-width: 720px){
    h2{
        font-size: 20pt;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    h6{
        margin-bottom: 0pt;
    }

    .new-products {
       margin-top: 10px;
    }

    .new-products__carousel {
        margin-bottom: 30px;
    }

    .product-item_container{
        width: 50vw;
    }

    .product-item{
        width: 95%;
        height: 50vw;
    }

    .slick-slide img {
        width: 100%;
    }

    .product-item__main-content_close_info img{
        width: inherit;
    }

    .product-item__main-content_heart,
    .product-item__main-content_info {
        left: 85%;
    }

    .product-item__description{
        height: 50vw;
    }

    .product-item__description h4{
        font-size: 12pt;
    }

    .product-item__description h6{
        font-size: 9pt;
    }

    .product-item__description p{
        font-size: 9pt;
    }

    .categories__grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 'soft soft'
                             'bedroom living'
                             'kitchen kitchen'
                             'dining accessories'
                             'chandeliers chandeliers'
                             'sanitary sanitary';
    }

    .categories__grid div h3{
        font-size: 18pt;
    }

    .categories__grid div a {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
    }

    .categories__grid div a img {
        width: 100%;
        height: 100%;
    }

    .categories h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    }

    .about h2 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about__item,
    .about__item:nth-child(1) {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }

    .about__item_img span {
        font-size: 18pt;
    }

    .about__item p {
        font-size: 8pt;
        width: 95%;
    }

    .about__item > p:nth-child(2) {
        margin-top: 5px; 
    }

    .about__item_all {
        font-size: 9pt;
        padding: 15px;
        margin: 20px auto 20px auto;
    }

    .about__item_img span{
        font-size: 3vw;
    }

    .contacts__cities{
        flex-wrap: wrap;
    }

    .contacts__cities_kyiv,
    .contacts__cities_kharkiv,
    .contacts__cities_dnepr{
        width: 50%;
        text-align: left;
    }

    .contacts__cities_kyiv:nth-child(1),
    .contacts__cities_kharkiv{
        text-align: right;
    }

    .contacts__cities p,
    .contacts__cities h4{
        padding-left: 15px;
        padding-right: 15px;
    }

    .feedback h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px){
    .product-item{
        height: 60vw;
    }


    .product-item__description h4{
        font-size: 10pt;
    }

    .product-item__description h6{
        font-size: 7pt;
    }

    .product-item__description p{
        font-size: 7pt;
    }
}

@media screen and (max-width: 485px){
    form .neat-input:first-child {
        margin-right: 0px;
    }

    .product-item__description h4{
        font-size: 9pt;
    }

    .product-item__description h6{
        font-size: 6pt;
    }
}